@model IEnumerable<AracIhale.UI.Models.VM.OnaylananTeklifVM>

@{
 
   
}


<div class="row row-cols-1 row-cols-md-2 row-cols-lg-5">
  
    @foreach (var item in Model.OrderByDescending(x => x.OnaylanmaTarihi))
    {
        <div class="col mt-4">
            <div class="card">
                <img src="https://c0.wallpaperflare.com/preview/1008/251/642/award-business-winner-recognition.jpg" class="card-img-top" alt="Görsel">
                <div class="card-body">
                    <h5 class="card-title text-center text-dark" style="font-size: 16px;">@item.IhaleID Numaralı</h5>
                    <h5 class="card-title text-center text-dark" style="font-size: 16px;"> ☞ @item.IhaleListesi.IhaleAdi ☜</h5>
                    <h5 class="card-title text-center text-dark" style="font-size: 16px;">İhalesini Kazanan Kişi</h5>
                    <p class="card-text text-center text-dark" style="font-size: 14px;"> ➡︎ @item.Kullanici.Ad ⬅︎ </p>
                    <p class="card-text text-center text-dark" style="font-size: 9px;"> Onaylanma Tarihi: " @item.OnaylanmaTarihi " </p>
                </div>
            </div>
        </div>
        
    }
</div>
<br />
<a href="@Url.Action("AracListeleme", "Ihale")" class="btn btn-secondary">İhale Listesine Dön</a>
