@model IEnumerable<AracIhale.UI.Models.VM.IhaleListesi>
@{
    int sayac = 1;
}

<form class="bg-white rounded p-3" action="@Url.Action("Listele", "Ihale")" method="post">
    <h4 style="color:dimgrey;">Kriterler</h4>
    <div class="row">
        <div class="col-md-4 mb-4">
            <label for="ihaleNumarasi" class="form-label">İhale Numarası</label>
            <input type="text" class="form-control" id="ihaleNumarasi" name="ihaleNumarasi" placeholder="İhale Numarası">
        </div>
        <div class="col-md-4 mb-4">
            <label for="aracTuru" class="form-label">Bireysel/Kurumsal</label>
            <select class="form-control" id="aracTuru" name="aracTuru">
                <option value="">Seçiniz...</option>
                <option value="1">Bireysel</option>
                <option value="2">Kurumsal</option>
            </select>
        </div>
        <div class="col-md-4 mb-4">
            <label for="aracDurumu" class="form-label">Statüsü</label>
            <select class="form-control" id="aracDurumu" name="aracDurumu">
                <option value="">Seçiniz...</option>
                <option value="1">Başlamadı</option>
                <option value="2">Başladı</option>
                <option value="3">Bitti</option>
                <option value="4">İptal</option>
            </select>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-end">
        <a href="@Url.Action("AracListeleme", "Ihale")" class="btn btn-secondary ml-2">Sıfırla</a>
        <button type="submit" class="btn btn-primary">Listele</button>
    </div>
</form>
<br />

<table class="table">
    <h4 style="color:dimgrey;">İhale Araç Listesi</h4>
    <thead>
        <tr>
            <th>İhale Numarası</th>
            @*<th>Araç Markası</th>
            <th>Modeli</th>*@
            <th>Bireysel/Kurumsal</th>
            <th>Statüsü</th>
            <th>İhale Başlangıç Fiyatı</th>
            <th>Mininum Alım Fiyatı</th>
            <th>Aksiyon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@sayac</td>
                @*<td>@item.AracOzellik.AracMarka.MarkaAdi</td>
                <td>@item.AracOzellik.AracModel.ModelAdi</td>*@
                <td>
                    @if (item.BireyselKurumsalID == 1)
                    {
                        @:Bireysel
                    }
                    else if (item.BireyselKurumsalID == 2)
                    {
                        @:Kurumsal
                    }
                </td>
                <td>
                    @switch (item.IhaleStatuID)
                    {
                        case 1:
                            @:Başlamadı
                            break;
                        case 2:
                            @:Başladı
                            break;
                        case 3:
                            @:Bitti
                            break;
                        case 4:
                            @:İptal
                            break;
                    }
                </td>
                <td>@item.IhaleBaslangicFiyati ₺</td>
                <td>@item.MinimumAlimFiyati ₺</td>
                <td>
                    <a href="@Url.Action("TeklifVer", "IhaleTeklif", new { id = item.IhaleID })" class="btn btn-success me-2">Teklif Ver</a>
                    </td>
                <td></td>
            </tr>
            sayac++;
        }
    </tbody>
</table>

