@model IEnumerable<AracIhale.UI.Models.VM.IhaleListesi>

@{
	int sayac = 1;
}

<table class="table">
	<h4 style="color:dimgrey;">İhale Teklif Listesi</h4>
	<thead>
		<tr>
			<th>İhale Numarası</th>
			<th>Araç Markası</th>
			<th>Modeli</th>
			<th>Bireysel/Kurumsal</th>
			<th>Statüsü</th>
			<th>Teklif Veren Kullanıcı</th>
			<th>Kaydetme Zamanı</th>
			<th>İhale Başlangıç Fiyatı</th>
			<th>Mininum Alım Fiyatı</th>
			<th>Teklif Fiyatı</th>
			<th>Aksiyon</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
     @*   @foreach (var item in Model)*@
        {
            <tr>
                <td>@sayac</td>
                @*<td>@item.AracOzellik.AracMarka.MarkaAdi</td>
            <td>@item.AracOzellik.AracModel.ModelAdi</td>*@
                <td>
                   @* @if (item.BireyselKurumsalID == 1)
                    {
                        @:Bireysel
                    }
                    else if (item.BireyselKurumsalID == 2)
                    {
                        @:Kurumsal
                    }*@
                </td>
                <td>
                   @* @switch (item.IhaleStatuID)
                    {
                        case 1:
                            @:Başlamadı
                            break;
                        case 2:
                            @:Başladı
                            break;
                        case 3:
                            @:Bitti
                            break;
                        case 4:
                            @:İptal
                            break;*@
                    }
                </td>
               @* <td>@item.KullaniciAdi</td>
                <td>@item.TeklifTarihi</td>*@
               @* <td>@item.IhaleBaslangicFiyati ₺</td>
                <td>@item.MinimumAlimFiyati ₺</td>*@
                @*<td>@item.TeklifFiyati ₺</td>*@
               @* <td>*@
                   @* <a asp-action="AracIhaleOlusturma" asp-controller="Ihale" class="btn btn-success me-2">Onayla</a>
                    <a asp-action="AracIhaleOlusturma" asp-controller="Ihale" class="btn btn-danger me-2">Reddet</a>*@
                @*</td>
                <td></td>*@
            </tr>
            sayac++;
        }
	</tbody>
</table>
