@model IEnumerable<AracIhale.UI.Models.VM.IhaleListesi>
@{
    int index = 1;
}

<form class="bg-white rounded p-3">
    <h4 style="color:dimgrey;">Kriterler</h4>
    <div class="row">
        <div class="col-md-6 mb-6">
            <label for="ihaleAdi" class="form-label">İhale Adı</label>
            <input type="text" class="form-control" id="ihaleAdi" placeholder="İhale Adı">
        </div>

        <div class="col-md-3 mb-3">
            <label for="aracTuru" class="form-label">Bireysel/Kurumsal</label>
            <select class="form-control" id="aracTuru">
                <option>Bireysel</option>
                <option>Kurumsal</option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="aracDurumu" class="form-label">Statüsü</label>
            <select class="form-control" id="aracDurumu">
                <option>Yeni</option>
                <option>Kullanılmış</option>
            </select>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Listele</button>
    </div>
</form>
<br />
<table class="table">
    <h4 style="color:dimgrey;">İhale Listesi</h4>
    <thead>
        <tr>
            <th>İhale Numarası</th>
            <th>İhale Adı</th>
            <th>Bireysel/Kurumsal</th>
            <th>İhale Başlangıç</th>
            <th>İhale Bitiş</th>
            <th>Statü</th>
            <th>Aksiyon</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IhaleAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BireyselKurumsalID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IhaleBaslangicTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IhaleBitisTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IhaleStatuID)
                </td>
                <td>
                    <a href="#" class="btn btn-success me-2">Güncelle</a>
                    <a href="#" class="btn btn-success me-2">Sil</a>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>
<div class="row mt-12">
    <div class="col-md-12 d-flex justify-content-end">
        <a href="#" class="btn btn-success me-2">Yeni Oluştur</a>
    </div>
</div>